.card-number {
    float: right;
    font-weight: bold;
    text-align: right;
    font-size: smaller;
}

#text {
    height: 200px;
}

.cards {
    background: white;
    width: 21cm;
    padding: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}


@media print {
    .cards {
        width: 21cm;
    }
}
.card {
    border-color: black;
    border-width: medium;
    margin: 1px;
}