.PalmCard {
    background: white;
    width: 21cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    padding-top: 1.0cm;
    padding-bottom: 1.0cm;
}
@media print {
    .PalmCard {
        width: 21cm;
    }
}